.venv/
venv/
env/

__pycache__/
*.pyc
*.pyo
*.pyd


.env
.env.local


# norske ordbank can be downloaded
metrics_service/data/norsk_ordbank/*.tar.gz
metrics_service/data/norsk_ordbank/fullformsliste.txt

benchmark_service/data/eutanasi1.pdf 
benchmark_service/data/eutanasi2.pdf
benchmark_service/data/parse_pdfs.py